<nav>
   <div class="nav-wrapper">
      <a href="/user/dashboard" class="brand-logo center">Duello</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/user/dashboard">Dashboard</a></li>
         <li><a href="/">About</a></li>
         <li><a id="logout" href="">Logout</a></li>
      </ul>
   </div>
</nav>
