<ul class="collapsible collection-item" data-collapsible="accordion">
   <li>
      <div class="collapsible-header" style="display: block">{{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></div>
      <div class="collapsible-body">
         <div>Challenger: {{dataValues.issued.dataValues.name}}</div>
         <div>Rules: {{dataValues.Template.dataValues.rule}}</div>
         <br>
         <button class="btn right-align">This is it</button>
      </div>
   </li>
</ul>