<button id="accept" class="btn waves-effect waves-light" type="submit" name="action">Accept
</button>
<button id="reject" class="btn waves-effect waves-light" type="submit" name="action">Abscond
</button>
<button id="challenger_proof" class="btn waves-effect waves-light" type="submit" name="action">View Proof
</button>