<!DOCTYPE html>
<html>

<head>
    <title>Challenge</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="../assets/css/style.css" type="text/css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="../assets/js/challenge.js"></script>
    <!-- May need to remove the first .. when this is ported to the views folder -->

</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">(Our Logo Here)</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="./dashboard.html">Dashboard</a></li>
                <li><a href="#">About</a></li>
                <li><a href="./login.html">Logout</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div>
            <h1>Rise-to-the-Challenge</h1>
        </div>
        <div>
            <h4>(Challenges Name)</h4>
            <h4>Challenge Status: (status)</h4>
            <div class="collection">
                <h4>Rules:</h4>
                <div class="collection">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                        nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                        blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem
                        insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                        Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
                        in futurum.</p>
                </div>
                <button id="accept" class="btn waves-effect waves-light" type="submit" name="action">Accept
                </button>
                <a href="./dashboard.html"><button class="btn waves-effect waves-light" type="submit" name="action">Abscond
                </button></a>
            </div>

    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Rise to the Challenge
                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>
