<!DOCTYPE html>
<html>

<head>
    <title>Proof Review</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pinyon+Script|Tangerine:700" rel="stylesheet">
    <link href="../../public/assets/css/style.css" type="text/css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="../../public/assets/js/challenge.js"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" id="logo">Duello</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="./dashboard.html">Dashboard</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a id="logout" href="#">Logout</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div>
            <!--<h1>Rise-to-the-Challenge</h1>-->
        </div>
        <div class="cont">
            Challenge Name
            <div class="collection Form">
                <h4>Rules:</h4>
                <div class="collection">
                    <p>video Imbedded Here</p>
                </div>
                <a href="./dashboard.html"><button class="btn waves-effect waves-light" type="submit" name="action">Pass
                </button></a>
                <a href="./dashboard.html"><button class="btn waves-effect waves-light" type="submit" name="action">Fail
                </button></a>
            </div>
        </div>
    </main>

    <footer class="page-footer">

        <div class="container">
            © 2017 Rise to the Challenge
        </div>

    </footer>



    <script type="text/javascript" src="js/materialize.min.js"></script>


</body>

</html>
