<!DOCTYPE html>
<html>

<head>
    <title>Challenge</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="../../public/assets/css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/assets/js/challenge.js"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">(Our Logo Here)</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="./dashboard.html">Dashboard</a></li>
                <li><a href="#">About</a></li>
                <li><a href="./login.html">Logout</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div>
            <h1>Rise-to-the-Challenge</h1>
        </div>
        <div>
            <h4>Issue your Challenge</h4>
            <div class="collection">
                <div class="row">
                    <form class="col s12" id="challengeIssue">
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Placeholder" name="challenge_name" type="text" class="validate">
                                <label class="active" for="first_name">Challenge Name:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="nemesis@gmail.com" name="challenged" type="email" class="validate" multiple>
                                <label class="active" for="first_name">                        The Challenged:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Namecalling Optional" name="challenged_name" type="text" class="validate">
                                <label class="active" for="first_name">What name will you call them?:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea name="rules" class="materialize-textarea"></textarea>
                                <label class="active" for="textarea1">Rules:</label>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="input-field">
                                <input placeholder="link your proof video or image here" name="postLink" type="url" class="validate">
                                <label class="active" for="email" data-error="wrong" data-success="right">Proof: Image or Video</label>
                            </div>
                        </div>
                        <!--<a href="./dashboard.html">-->
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <!--<i class="material-icons right">send</i>-->
                        </button>
                    </form>
                    <!--</a>-->
                </div>
    </main>
    <div class="container">
        © 2017 Rise to the Challenge
    </div>
    <!--<script type="text/javascript" src="js/materialize.min.js"></script>-->


</body>

</html>
