<!DOCTYPE html>
<html>

<head>
    <title>Proof Submission</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="../../public/assets/css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="../../public/assets/js/challenge.js"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">(Our Logo Here)</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="./dashboard.html">Dashboard</a></li>
                <li><a href="#">About</a></li>
                <li><a id="logout" href="#">Logout</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="row">
            <div>
                <h1>Rise-to-the-Challenge</h1>
            </div>
            <div>
                <h4>Proof Submission</h4>
                <div class="collection">
                    <div class="row">
                        <form class="col s12">
                            <div class="col s12">
                                Proof:
                                <div class="input-field inline">
                                    <input id="proof" type="text" class="validate">
                                    <label for="proof" data-error="wrong" data-success="right">link your proof</label>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
                <a href="./dashboard.html"><button class="btn waves-effect waves-light" type="submit" name="action">Submit
                </button></a>
            </div>
        </div>

    </main>
    <div class="container">
        © 2017 Rise to the Challenge
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>


</body>

</html>
