{{> challenge_nav }}
<main>
   <div class="cont">
      <h5>{{ dataValues.Template.dataValues.name }}</h5>
   </div>
   <div class="Form">
      <h5>Challenge Status: {{ dataValues.state }}</h5>
      <div class="collection">
         <h5>Rules:</h5>
         <div class="collection">
            <p>{{ dataValues.Template.dataValues.rule }}</p>
         </div>
         {{#if dataValues.state_code }}
            {{> state_challenge_accepted }}
         {{/if}}
         {{#unless dataValues.state_code }}
            {{> state_challenge_issued }}
         {{/unless}}
      </div>
</main>
