/* Sticky Footer requirements */

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-image: url("/assets/images/duel.jpg");
}

main {
   flex: 1 0 auto;
   margin: 100px auto;
   max-width: 1080px;
   width: 100%;
}

main.narrow {}

input.err::-webkit-input-placeholder {
   color: red;
}

input.err::-moz-placeholder {
   color: red;
}

input.err:-ms-input-placeholder {
   color: red;
}

input.err:-moz-placeholder {
   color: red;
}


input.err::placeholder {
   color: red;
}

#modalErrorHeader {
   color: red;
}

#Copyright {
   text-align: center
}

.page-footer {
   height: 60px;
}

.cont {
   background-color: #709597;
   background-color: #82A0CA;
   padding: 3px;
   opacity: .97;
   border: inset;
   color: white;
   font-family: 'Tangerine', cursive;
   font-size: 32px;
}

#logo {
   font-family: 'Pinyon Script', cursive;
   font-size: 48px;
}

.Form {
   background-color: #E2E3D4;
   margin: 10px 10px 10px 10px;
   padding: 10px;
   color: black;
   font-size: 18px;
   font-family: arial;
}

.nav-wrapper,
.page-footer {
   background-color: #CA8982;
}

.btn {
   background-color: #82A0CA;
   background-color: #709597;
   font-family: arial;
   margin: 5px 10px;
}

.collection {
   background-color: white;
}

.arialoverride {
   font-family: arial;
}

#loginCont {}