/* Sticky Footer requirements */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background-image: url("/assets/images/duel.jpg");*/
}

main {
    flex: 1 0 auto;
    margin: 100px 10%;
}

input::-webkit-input-placeholder {
    color: red !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: red !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: red !important;
}

input:-ms-input-placeholder {
    color: red !important;
}

#modalErrorHeader {
    color: red;
}

#Copyright {
    text-align: center
}

.page-footer {
    height: 60px;
}

.cont {
    background-color: #709597;
    padding: 3px;
    opacity: .95;
}

#logo {
    font-family: 'Pinyon Script', cursive;
}

.Form {
    background-color: white;
    margin: 0, 10px;
    padding: 10px;
}

.nav-wrapper,
.page-footer {
    background-color: #CA8982;
}

.btn {
    background-color: #82A0CA;
}
