/* Sticky Footer requirements */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background-image: url("/assets/images/duel.jpg");
    */
}

main {
    flex: 1 0 auto;
    margin: 10%;
    /*background-color: #709597;*/
}

input::-webkit-input-placeholder {
    color: red !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: red !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: red !important;
}

input:-ms-input-placeholder {
    color: red !important;
}

#modalErrorHeader {
    color: red;
}

#Copyright {
    text-align: center
}

.page-footer {
    height: 60px;
}

#issuedContainer,
#receivedContainer {
    /*background-color: #709597;*/
    /*padding: 3px;*/
    /*opacity: .9;*/
}

#logo {
    font-family: 'Pinyon Script', cursive;
}
